node_modules
npm-debug.log
yarn-error.log
coverage
.git
.gitignore
.env
.env.test
.env.local
.env.production
.vscode
.idea
*.md
docs
test
.DS_Store
*.log
docker-compose.yml
Dockerfile
.dockerignore
dist
*.tsbuildinfo
tsconfig.tsbuildinfo
server/coverage
server/dist

