name: steam-project

services:
  postgres:
    image: postgres:16-alpine
    container_name: steam-postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-steam_password}
      POSTGRES_DB: ${POSTGRES_DB:-railway}
    ports:
      - "${POSTGRES_PORT:-13947}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - db-network

volumes:
  postgres_data:
    driver: local

networks:
  db-network:
    driver: bridge
